.footer{
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  clip-path: polygon(50% 40%, 100% 0, 100% 99%, 0 100%, 0 0);
  background-color: rgb(228, 211, 231);

}
.social-media, .facebook, .instagram, .github{
  display: inline;
  margin: 10px 20px;
  font-size: 30px;
  color:hwb(240 52% 41%);
  transition: .5s;
}
.facebook:hover{
  color:hwb(240 43% 49%);
}
.instagram:hover{
  color:hwb(240 43% 49%);
}
.github:hover{
  color:hwb(240 43% 49%);
}

.author{
  border-top: 1px solid gray;
  margin-top: 5px;
  padding: 2px 0px;
  color:hwb(240 43% 49%);

}
